.avatar {
  border: 0.4rem solid transparent;
  max-width: 45%;
  max-height: 45%;
  cursor: pointer;
  border-radius: 5rem;
  transition: 500ms ease-in-out;
}

.avatar-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
